@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(225, 100%, 94%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 110% 45%;
    font-family: 'Red hat',sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.container {
    margin: 30px auto;
    padding: 0 5%;
}

.card-content {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    overflow: hidden;
}

img {
    width: 100%;
}

.card-text-content {
    text-align: center;
    padding: 0 30px 30px 30px;
}

header {
    margin: 30px 0;
}

header h2 {
    color: hsl(223, 47%, 23%);
    margin-bottom: 15px;
}

header p {
    color: hsl(224, 23%, 55%);
    width: 300px;
    margin: 0 auto;
    line-height: 26px;
}

.second-container {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    border-radius: 8px;
}

.stacked {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.img2 {
    width: 80px;
    float: left;
    padding-right: 25px;
}

.annual {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}
.price {
    color: hsl(224, 23%, 55%);
    font-size: 17px;
    font-weight: 500;
}

button {
    background-color: hsl(245, 75%, 52%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 16px;
    margin: 40px 0 30px 0;
    box-shadow: 1px 13px 20px rgb(183, 178, 248);
    transition: background-color 0.3s;
}

button:hover {
    background-color: hsl(251, 89%, 75%);
    cursor: pointer;
}

button p {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

p.cancel {
    color: hsl(223, 47%, 23%);
    font-size: 15px;
    font-weight: 700;
    transition: color 0.3s;
}

p.cancel:hover {
    color:  hsl(0, 100%, 46%);
}

.none {
    text-decoration: none;
}


.attribution {
    color: hsl(0, 0%, 0%);
    font-size: 11px;
    width: 400px;
    text-align: center;
    margin: 50px auto 0 auto;
    padding-bottom: 20px;
  }
  
  .attribution img {
    width: 14px;
    margin: 0 5px;
  }
  
  .attribution a {
    text-decoration: none;
    color: blue;
  }
  